{% extends "website/layout.html" %}
{% block title %}
About Me
{% endblock %}
{% block content %}
<div class="container-fluid bg-danger-subtle mt-3">
    <h1 class="p-2">About</h1>
</div>
<div class="mx-2">
    {% load static %}
    <img
      src="{% static 'website/profile.jpg' %}"
      class="rounded mx-auto my-2 d-block"
      alt="A headshot of Alessandra Wong"
      width="200"
      height="250"
    />
    <p>
        My name is Alessandra Wong (she/her) and I recently received my second bachelor's in Computer Science from Portland State University.
    </p>
    <p>
        During my final terms at PSU, I worked with my Capstone team on a project for the university's <a href="https://trec.pdx.edu">Transportation and Research Center</a>. The project involved creating a user interface for the BikePed Portal, a database for non-motorized transportation data collection that is used by local and national transportation organizations. 
    </p>
    <p>
        Previously, I was a research assistant in the Human Factors and Applied Cognition Research Labs at George Mason University, which focuses on how people interact with computers and other forms of technology. Going forward in my CS career, I'd love to be involved with designing or working on applications focused on the user experience!
    </p>
</div>
{% endblock %}