{% extends "website/layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<div class="container-fluid bg-danger-subtle mt-3">
    <h1 class="p-2">Home</h1>
</div>
<p>Home page for the Visual Studio Code Django tutorial.</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur soluta blanditiis nobis praesentium repellendus explicabo fugit velit perspiciatis a, asperiores voluptatem incidunt unde dolores. Magnam amet magni laborum dolorem quibusdam.
Nam nemo magnam minima, cum ipsam cupiditate odio nihil aliquam ab provident similique alias ratione esse quidem porro aspernatur est, mollitia deserunt iusto laboriosam maxime omnis molestiae atque. Qui, quidem!
Pariatur ipsum minima porro eveniet dicta tempore nam voluptas dignissimos laborum similique perferendis architecto dolorem quas eligendi beatae neque, ad consequuntur sint? Quod eum pariatur inventore laboriosam accusantium tempore non!
Atque natus voluptates error facere cupiditate fuga ratione nobis quo sequi quisquam, dolorum nulla voluptatum, eos repellendus! Animi voluptatem quos consectetur nemo quaerat dicta. Maiores numquam quos perferendis voluptates accusantium!
Est quia ex, quasi cum illo nihil. Nihil blanditiis iste deserunt pariatur. Doloremque consectetur enim corrupti voluptatem quibusdam id laboriosam quos optio eaque, totam illo ipsa explicabo accusamus maxime blanditiis.
Fuga iste nesciunt dolor veniam laudantium. Obcaecati dolorem aut animi laudantium labore, consequuntur voluptatem expedita tempora architecto facilis vel reprehenderit hic, fuga ad voluptatibus repellendus delectus ea sequi? Veritatis, vero.
Voluptas dolore dolores deserunt eius. Necessitatibus voluptas expedita, blanditiis eum suscipit alias numquam neque doloremque ratione quidem sint aliquid pariatur reprehenderit quis assumenda magni aut eos tempora, soluta maxime at!
Eaque ad totam dolor obcaecati cum! Iste ea vero corrupti recusandae neque cumque voluptatum facere ratione expedita, mollitia quos sunt dolorem labore ab eaque temporibus quo commodi modi tenetur odio.
Aut nobis dolorum minus! Fuga aliquid, consequuntur eaque atque quae sapiente vitae, dicta deleniti quidem eveniet ullam nihil! Dolores ratione hic ex laborum repudiandae in eos, beatae vel! Neque, odit!
Vel rem consequuntur similique sint illum quibusdam, ea itaque necessitatibus, earum tenetur vitae mollitia eaque accusamus doloribus reprehenderit veritatis rerum facere qui facilis beatae adipisci optio, saepe in. Dignissimos, minima.</p>
{% endblock %}