{% extends "website/layout.html" %}
{% block title %}
Previous Work
{% endblock%} 
{% block content %}
<div class="container-fluid bg-danger-subtle mt-3">
    <h1 class="p-2">Previous Work</h1>
</div>
<div class="container mb-4">
    <div class="row">
        <h2>Education</h2>
    </div>
    <div class="row">
        <div class="col-8 fw-bold">
            B.S. Computer Science, Portland State University
        </div>
        <div class="col-4 text-end">
            1/2020-8/2023
        </div>
        <div class="col-8 pb-2">
            GPA: 3.84
        </div>
    </div>
    <div class="row">
        <div class="col-8 fw-bold">
            B.S. Psychology, George Mason University
        </div>
        <div class="col-4 text-end">
            1/2016-12/2017
        </div>
    </div>
    <div class="row">
        <div class="col-8 fw-bold">
            A.A.S. Criminal Justice, Community College of the Air Force
        </div>
        <div class="col-4 text-end">
            9/2011-3/2013
        </div>
    </div>
</div>
<div class="container mb-4">
    <div class="row">
        <h2>Technical and Computer Skills</h2>
    </div>
    <div class="row">
        <div class="col fw-bold">Software:</div>
        <div class="col">VS Code</div>
    </div>
    <div class="row">
        <div class="col fw-bold">Programming:</div>
        <div class="col">C++, Java, Python, PostgreSQL, CSS, HTML, JavaScript</div>
    </div>
    <div class="row">
        <div class="col fw-bold">Technologies:</div>
        <div class="col">MongoDB, React.js, Node.js, Git, Django, Balsamiq</div>
    </div>
    <div class="row">
        <div class="col fw-bold">Other:</div>
        <div class="col">Agile software development</div>
    </div>
</div>
<div class="container">
    <div class="row">
        <h2>Experience</h2>
    </div>
     <div class="row">
        <div class="col-8">
            <span class="fw-bold">Front-End Developer</span>, PSU Capstone Project/PSU BikePed, Portland, OR
        </div>
        <div class="col-4 text-end">
            2023
        </div>
    </div>
    <div class="row">
        <ul class="column px-5">
            <li>
                Worked with seven team members using the Agile methodology, simultaneously and iteratively 
                updating PSU BikePed’s forked codebase with Github pull requests.
            </li>
            <li>
                Introduced wireframe concepts and technologies to the front-end team and implemented low-fidelity
                and high-fidelity designs based on project specifications.
            </li>
            <li>
                Designed and implemented UI templates using interactive wireframe mockups and translated the 
                documents to working web pages using HTML, JavaScript, Python, and Bootstrap.
            </li>
            <li>
                Integrated UI elements into an existing public-facing codebase, working within the Django framework.
            </li>
        </ul>
    </div>
   <div class="row">
        <div class="col-8">
            <span class="fw-bold">Research Assistant</span>, George Mason University, Fairfax, VA
        </div>
        <div class="col-4 text-end">
            2016-2017
        </div>
    </div>
    <div class="row">
        <ul class="column px-5">
            <li>
                Worked with a supervising PhD student and professor in the Human Factors and Applied
                Cognition department on research studies involving human-computer interactions.
            </li>
            <li>
                Facilitated and assisted in research studies examining topics such as the uncanny valley
                phenomenon and guided participants while collecting research data.
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-8">
            <span class="fw-bold">Security Forces Specialist</span>, U.S. Air Force, Great Falls, MT
        </div>
        <div class="col-4 text-end">
            2012-2015
        </div>
    </div>
    <div class="row">
        <ul class="column px-5">
            <li>
                Provided command and control for the employees guarding the installation’s nuclear resources worth more
                than $2.7 billion.
            </li>
            <li>
                Led training on alarm system operation certification for 15 employees working with nuclear security,
                fortifying manning and nuclear protection requirements.
            </li>
            <li>
                Directed 15 employees in installation nuclear security readiness exercises, ensuring 100% asset security.
            </li>
            <li>
                Acted as first-line supervisor for four employees and provided job performance feedbacks and reports.
            </li>
            <li>
                Scored in the 98th percentile in career job knowledge while testing and being selected for promotion to
                the rank of Staff Sergeant (pay grade E-5).
            </li>
        </ul>
    </div>
</div>
{% endblock %}
