{% extends "website/layout.html" %}
{% block title %}
Projects
{% endblock %}
{% block content %}
<div class="container-fluid bg-danger-subtle mt-3">
    <h1 class="p-2">Projects</h1>
</div>
<h2>Project 1: Instant Messaging App</h2>
<p>
  One project I’ve worked on is a web-based messaging app for the Elements of Software Engineering class back in 2021, which was my first hands-on introduction to the development process. The overall goal of the project was to have a working browser-based chat system which could facilitate communication between at least two logged-in users, implemented using the MERN stack (MongoDB, Express, React, and Node). By the end of the quarter, I had a pretty rough working example of the app, with the ability to demonstrate messaging across two instances. However, along with many other features, the user functionality was never implemented, despite there being a user creation form.
</p>
<small class="mb-5 d-block">
  Github repo:
  <a
    href="https://github.com/awong-pdx/CS300/tree/main/instant-messaging-app"
    >https://github.com/awong-pdx/CS300/tree/main/instant-messaging-app</a
  >
</small>
<h2>Project 2: Django-Based Blog Demo</h2>
<p>
  Another project I worked on is a simple blog based on the Django
  framework. The blog was created following a tutorial by
  <a href="https://tutorial.djangogirls.org/">Django Girls</a>. Django is
  a web framework based off of Python, which is an alternative to the
  JavaScript-based frameworks that are commonly in use, including Node.
</p>
<small class="mb-5 d-block">
  Github repo:
  <a href="https://github.com/awong-pdx/my-first-blog"
    >https://github.com/awong-pdx/my-first-blog</a
  >
</small>
{% endblock %}
