{% extends "website/layout.html" %}
{% block title %}
Projects
{% endblock %}
{% block content %}
<div class="container-fluid bg-danger-subtle mt-3">
  <h1 class="p-2">Projects</h1>
</div>
<div class="d-flex justify-content-center">
  <div class="mx-5 w-75">
    <!-- should be adjusted to row-cols-xl-4 when adding another project -->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-4 my-3">
      <div class="col d-flex justify-content-center my-2">
        <a href="#" data-bs-toggle="modal" data-bs-target="#proj-1" class="">
          {% load static %}
          <img src="{% static 'website/chat_app_thumbnail.jpg' %}"
            alt="A screenshot of the Chat App Project GitHub readme" class="rounded d-block border border-dark"
            width="200px" height="200px">
        </a>
        <div class="modal fade" tabindex="-1" id="proj-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header bg-danger-subtle">
                <h5 class="modal-title">Project 1: Instant Messaging App</h5>
                <button class="btn-close" data-bs-dismiss="modal"></button>
              </div>
              <div class="modal-body">
                <p>
                  My first hands-on introduction to the development process was a web-based messaging app for PSU's
                  Elements
                  of Software Engineering class in 2021. The goal of the project was to have a working browser-based
                  chat
                  system which could facilitate communication between at least two logged-in users, implemented using
                  the
                  MERN
                  stack (MongoDB, Express, React, and Node). By the end of the quarter, I had a pretty rough working
                  example
                  of the app, with the ability to demonstrate messaging across two instances. However, along with many
                  other
                  features, the user functionality was never implemented, despite there being a user creation form.
                </p>
              </div>
              <div class="modal-footer">
                <small>
                  GitHub repo:
                  <a
                    href="https://github.com/awong-pdx/CS300/tree/main/instant-messaging-app">https://github.com/awong-pdx/CS300/tree/main/instant-messaging-app</a>
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-center my-2">
        <a href="#" data-bs-toggle="modal" data-bs-target="#proj-2" class="">
          {% load static %}
          <img src="{% static 'website/django_girls_thumbnail.jpg' %}"
            alt="A screenshot of the Django Girls Blog Project homepage" class="rounded d-block border border-dark"
            width="200px" height="200px">
        </a>
        <div class="modal fade" tabindex="-1" id="proj-2">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header bg-danger-subtle">
                <h5 class="modal-title">Project 2: Django-Based Blog</h5>
                <button class="btn-close" data-bs-dismiss="modal"></button>
              </div>
              <div class="modal-body">
                <p>
                  Another project I worked on was a simple blog based on the Django
                  framework. The blog was created following a tutorial by
                  <a href="https://tutorial.djangogirls.org/">Django Girls</a>. Django is
                  a web framework based off of Python, which is an alternative to the
                  JavaScript-based frameworks that are commonly in use, including Node.
                </p>
              </div>
              <div class="modal-footer">
                <small>
                  GitHub repo:
                  <a href="https://github.com/awong-pdx/my-first-blog">https://github.com/awong-pdx/my-first-blog</a>
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-center my-2">
        <a href="#" data-bs-toggle="modal" data-bs-target="#proj-3" class="">
          {% load static %}
          <img src="{% static 'website/weather_app_thumbnail.jpg' %}"
            alt="A screenshot of the React Weather Dashboard" class="rounded d-block border border-dark"
            width="200px" height="200px">
        </a>
        <div class="modal fade" tabindex="-1" id="proj-3">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header bg-danger-subtle">
                <h5 class="modal-title">Project 3: React Weather Dashboard</h5>
                <button class="btn-close" data-bs-dismiss="modal"></button>
              </div>
              <div class="modal-body">
                <p>
                  App link: <a href="https://awong-pdx.github.io/frontend-weather-dashboard">https://awong-pdx.github.io/frontend-weather-dashboard</a>
                </p>
                <p>
                  The weather dashboard was a final project for Front End Web Technologies, where my partner and I were tasked with creating
                  a dashboard application using React. This was my first major experience with React, and I loved learning the intricacies and 
                  features which make React such a popular framework, as well as comparing my previous experience with Django.
                </p>
                <p>
                  For a six-week project, I was really happy with the way the application turned out! I learned so much in such a short amount of time,
                  and improved on several skills, including Git/GitHub collaboration, wireframing, React, UI design, and overall front-end development.
                </p>
              </div>
              <div class="modal-footer">
                <small>
                  GitHub repo:
                  <a
                    href="https://github.com/awong-pdx/frontend-weather-dashboard">https://github.com/awong-pdx/frontend-weather-dashboard</a>
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col d-flex justify-content-center my-2 d-none">
        <img src="" alt="" class="rounded mx-auto d-block" width="200px" height="200px">
      </div>
      <div class="col d-flex justify-content-center my-2 d-none">
        <img src="" alt="" class="rounded mx-auto d-block" width="200px" height="200px">
      </div>

    </div>
  </div>
</div>
{% endblock %}